<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://bootswatch.com/3/cosmo/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/main.css">
    <title><b>About</b></title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">WEB322 - Sanya Khurana</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/posts">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/categories">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/posts/add">Add Post</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <h2>About</h2>
          My name is Sanya Khurana and I am a student at Seneca College, pursuing Computer Programming and analysis.
          This is my third semester, and I came in Canada about an year ago. It has been a wonderful journey, which
          was not less than a rollercoaster, I experienced all the emotions, hardships, success, everything in this one 
          year. In my free time, I love to travel, read books, watch korean dramas and listen to music. 
        </div>
        <div class="col-md-4">
          <h2><b>Coming Soon</b></h2>
          Stay tuned for future updates...
        </div>
      </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  
  </body>
</html>
